bot_name = test_bot_name
bot_owner = test_owner_name
manifest_loc = test.manifest
slack_token = UNUSED
greetings = """
    test_greeting_1
    test_greeting_2
"""
nouns = """
    test_noun_1
    test_noun_2
"""
adjectives = """
    test_adjective_1
    test_adjective_2
"""
triggers = """
    test_trigger
"""
reactions = """
    test_reaction
"""