#
# COMMON BOT PARAMETERS
#
bot_name = wellbeingbot      # The username assigned to the bot
bot_owner = some_username    # The username of the bot's owner (who has access to extra commands)
manifest_loc = manifest.csv  # The name and location of the manifest file, containing the links the bot should post along with the associated tags

slack_token = xoxb-SOMETHINGSOMETHINGSOMETHING

#
# BOT MESSAGING PARAMETERS
#
greetings = """
    Here is your requested gif, {}!
    Here you go, {}!
    One fresh gif coming up!
    This one is just for you, {}!
    You know what? This one's for you, {}.
    :anger: I didn't get this gif because I like you or anything! :anger:
    You're an awesome person, {}!
    Thanks for always being awesome, {}!
    Here you go! :heart:
    You're a great role model, {}.
    I hope that everything's OK, {}! :heart:
    If you're ever feeling down, please know that I'm there for you!
"""
nouns = """
    friend
    pal
    friend-o
    mate
    buddy
    amigo
    chum
    sibling from another parent
    bestie
    sweetie
    bff
    you wonderful person
    homie
"""
adjectives = """
    wonderful
    stupendous
    glorious
    life-changing
    heart warming
    endearing
    charming
"""
triggers = """
    help
    halp
    assistance
"""
reactions = """
    heart
"""