#
# COMMON BOT PARAMETERS
#
bot_name = wellbeingbot                                     # The username assigned to the bot
bot_owner = bedder                                          # The username of the bot's owner (who has access to extra commands)
api_token = xxxx-xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx      # The API token for the bot
manifest_loc = manifest.txt                                 # The name and location of the manifest file, containing the links the bot should post along with the associated tags

#
# BOT MESSAGING PARAMETERS
#
greetings="Here is your request gif, {}","Here you go, {}"  # Sentences to be echoed by the bot, with spaces for added nouns
nouns=friend,pal                                            # Nouns that can be used to refer to the user
triggers=help,halp                                          # Which words should trigger the bot to respond with a gif
responses=heart                                             # Which emojis should be used in reaction to bot triggers